<article>
  {{#if model.isEditing}}
    {{input value=model.title}}
    {{input value=model.date}}
    {{input value=model.notes}}
    <button {{action 'updateReminder' model}}>Save</button>
  {{else}}
    <h2>
      {{#link-to 'reminders.reminder' model}}
        Reminder Component - {{model.title}}
      {{/link-to}}
    </h2>
    <p>{{model.date}}</p>
    <p>{{model.notes}}</p>
    <button class="btn btn-xs btn-success" {{action 'editReminder' model}}>Edit</button>
  {{/if}}
</article>
{{yield}}
