<article class="spec-reminder-item">
  {{#if model.hasDirtyAttributes}}
    <p class="unsaved">🔴 unsaved</p>
  {{/if}}


  <form class="add-reminder--form" {{action submitAction model on="submit"}}>
    <label>
      Title
      {{input class="spec-input-title" value=model.title}}
    </label>
    <label>
      Date
      {{input type="date" class="spec-input-date" value=model.date}}
    </label>
    <label>
      Notes
      {{textarea class="spec-textarea-notes" value=model.notes}}
    </label>

    {{#if isEditing}}
      <button class="revert-reminder--revert" {{action 'rollbackChanges' model}}>Undo Changes</button>
    {{/if}}

    <button class="add-reminder--submit">Submit</button>
  </form>

</article>
{{yield}}
