{{#if model}}
  <ul class="spec-reminder-list">
    {{#each model as |reminder|}}
      <h2 class="reminder-title">
        {{#link-to 'reminders.reminder' reminder class="reminder-title-link"}}
          {{reminder.title}}
        {{/link-to}}
      </h2>
      <p class="reminder-date">{{reminder.date}}</p>
      <p class="reminder-notes">{{reminder.notes}}</p>
    {{/each}}
  </ul>

{{else}}
  <p class='welcome-message'> If you need to write a memento, click the add reminder button below
  </p>
  <img src='./memento.png' alt='Guy Pearce'/>
{{/if}}



{{#link-to 'reminders.new'}}
  <button> Add Reminder </button>
{{/link-to}}

{{outlet}}
